<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" type="text/css" href="{{ asset('build/css/app.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('build/css/page/Home.css') }}">
        <link
                rel="stylesheet"
                href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
                integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
                crossorigin="anonymous"
        />
        <script>
            window.loadPromise = new Promise(function(resolve) {
                window.addEventListener('load', resolve);
            });
        </script>
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

        <script src="{{ asset('build/js/app.js') }}"></script>
        <script src="{{ asset('build/runtime.js') }}"></script>
    </body>
</html>
